# Postgres hyperdrive connection string for local development
CLOUDFLARE_HYPERDRIVE_LOCAL_CONNECTION_STRING_HYPERDRIVE=[unpooled neon connection string]

# Postgres connection strings for local development (optional)
DATABASE_URL=[pooled neon connection string]
DATABASE_URL_UNPOOLED=[unpooled neon connection string - same as for hyperdrive above]
